AUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev

AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET="" 
AUTH_SECRET="hogehoge"
NEXT_PUBLIC_VAPID_PUBLIC_KEY=""
VAPID_PRIVATE_KEY=""

DATABASE_URL="postgresql://hackathon_user:hackathon_password@localhost:5432/hackathon_db"
